
.icon {
    font-family: 'icomoon';
    color: #C71622;
    font-size: 12px;
}

.current {
    border: 1px solid #c81523;
}

/*面包屑导航、产品介绍模块*/
.de_container .crumb_wrap {
    height: 25px;
    margin-top: 25px;
}

.crumb_wrap {
    margin-bottom: 5px;
}

.crumb_wrap a {
    margin: 0 10px;

}

.crumb_wrap i {
    font-size: 14px;
}

.crumb_wrap a:hover {
    color: black;
    font-weight: bolder;
}

/*预览区*/
.product_intro .preview_wrap {
    float: left;
    width: 400px;
    height: 570px;
}

.preview_img {
    position: relative;
    height: 398px;
    border: 1px solid #ccc;
}

.mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #FEDE4F;
    opacity: .5;
    border: 1px solid #ccc;
    cursor: move;
}

.big {
    display: none;
    position: absolute;
    left: 410px;
    top: 0;
    width: 500px;
    height: 500px;
    background-color: pink;
    z-index: 999;
    border: 1px solid #ccc;
    overflow: hidden;
}

.big img {
    position: absolute;
    top: 0;
    left: 0;
}

.preview_list {
    position: relative;
    height: 60px;
    margin-top: 60px;
}

.list_item {
    width: 370px;
    height: 60px;
    margin: 0 auto;
}

.list_item li {
    float: left;
    width: 56px;
    height: 56px;
    border: 2px solid transparent;
    margin: 0 5px;
}

.list_item li.current {
    border-color: #c81623;
}

.arrow_prev,
.arrow_next {
    position: absolute;
    top: 15px;
    width: 22px;
    height: 32px;
    background-color: purple;
}

.arrow_prev {
    left: 0;
    background: url(../img/arrow-prev.png) no-repeat;
}

.arrow_next {
    right: 0;
    background: url(../img/arrow-next.png) no-repeat;
}


.preview_items li {
    float: left;
    margin-top: 22px;
    margin-right: 20px;
}

.product_intro .itemInfo_wrap {
    float: right;
    width: 718px;
}

.sku_name h2 {
    font-size: 16px;
    margin-bottom: 14px;
}
.news h3 a {
    font-size: 12px;
    color: red;
}

.summary {
    width: 100%;

}

.summary dl {
    overflow: hidden;
}

.summary dt {
    float: left;
    width: 70px;
    text-align: center;
}

.summary dd {
    float: left;
    margin-left: 10px;
}

.summary_price {
    position: relative;
    width: 100%;
    height: 38px;
    line-height: 38px;
    background-color: #FEE9EB;

}

.summary_price dt {
    line-height: 43px;
}

.summary_price .price {
    font-size: 24px;
    color: #C81623;
}

.summary_price dd {
    /*position: relative;*/
    color: #c81623;
}

.summary_price .remark {
    position: absolute;
    right: 0;
    top: 2px;
    height: 23px;
    line-height: 23px;
}

.remark i{
    color: #1474AF;
    cursor: pointer;
}

.remark i:hover{
    cursor: pointer;
}

.summary dl {
    margin-top: 10px;
}

.summary_promotion {
    height: 77px;
    background-color: #FEE9EB;
}

.summary_promotion .a_w {
     display: inline-block;
     float: left;
     width: 42px;
     height: 22px;
     line-height: 22px;
     color: white;
     text-align: center;
     margin: 0 8px 0 0;
     background-color: #C81623;
 }

/*换购详情*/
.exChange {
    display: none;
    overflow: hidden;
    width: 800px;
    position: fixed;
    left: 50%;
    top: 50%;
    background: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px #ddd;
    z-index: 9999;
    transform: translate(-50%, -50%);/*不知自身宽高，可用其实现水平垂直居中*/
}

.exChange-x {
    height: 32px;
    padding-left: 10px;
    font-size: 14px;
    background-color: #ebebeb;
}

.exChange-x span{
    position: absolute;
    font-size: 14px;
    right: 0px;
    top: 0px;
    background: #ffffff;
    border: #ebebeb solid 1px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
}

.message {
    padding-left: 24px;
    width: 100%;
    line-height: 32px;
    border: #ebebeb solid 1px;
}

.message-p img {
    width: 14px;
    height: 12px;
    margin-left: 5px;
}

.message em {
    color: #0A9FE6;
    font-size: 4px;
    cursor: pointer;
}

.message i {
    font-size: 14px;
    margin-right: 18px;
    cursor: pointer;
}

.message-specs {
    display: none;
}



.specs-p span {
    display: inline-block;
    width: 198px;
    height: 34px;
    text-align: center;
    margin: 5px 14px 5px;
    cursor: pointer;
    border: 1px solid #ebebeb;
}

.message-button {
    float: right;
    width: 126px;
    height: 34px;
    margin: 10px 10px 10px;
    text-align: center;
    background-color: #f3f3f3;
    border: #ebebeb solid 1px;
}

.message-bgc {
    background-color: #ebebeb;
}

.summary_promotion dd,
.summary_stock dd,
.summary_support dd {
    width: 550px;
    line-height: 31px;
}

.summary_promotion dt,
.summary_stock dt,
.summary_support dt {
    line-height: 31px;
}

.summary_stock {
    border-bottom: 1px solid #ccc;
}

.summary_stock .area_input {
    border: 1px solid #cad0dd;
    outline: none;
    font-size: 14px;
    height: 30px;
    width: 270px;
    padding-left: 10px;
    cursor: pointer;
    background-image: url(../upload/toDown.png);
    background-repeat: no-repeat;
    background-position: 98%;
}

.area_content {
    width: 280px;
    border: 1px solid #cad0dd;
    border-top: none;
    padding-bottom: 10px;
    position: absolute;
    display: none;
    background-color: #fff;

}

.area_menu {
    overflow: hidden;
    font-size: 14px;
    color: #35393e;
}

.area_menu ul {
    margin: 0px;
    padding: 0px;
}

.area_menu ul li {
    float: left;
    width: 33.33%;
    list-style: none;
    text-align: center;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #f4f4f4;
    border-bottom: 1px solid #cad0dd;
}

.area_menu ul li:nth-child(2) {
    border-right: 1px solid #cad0dd;
    border-left: 1px solid #cad0dd;
}

.area_menu ul .isClick {
    background-color: #fff;
    color: #269fff;
    border-bottom: none;
}

.area_data_content {
    padding: 10px;
    overflow: hidden;
}

.area_data {
    display: none;
    overflow: hidden;
}

.area_data .data_Part {
    overflow: hidden;
}

.area_data .part_type {
    float: left;
    font-size: 12px;
    padding-top: 10px;
}

.area_data_content .isBlock {
    display: block;
}

.area_data ul {
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
}

.area_data ul li {
    float: left;
    list-style: none;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 5px;
    max-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.area_data ul li:hover {
    background-color: #88c4f4;
    color: #fff;
}

.area_data ul .isClick {
    background-color: #88c4f4;
    color: #fff;
}

.isBlock {
    display: block!important;
    z-index: 999;
}





/*产品详细信息*/

.choose_color a,
.choose_version a,
.choose_rl a,
.choose_buy a,
.choose_type a {
    display: inline-block;
    height: 40px;
    padding: 0 12px;
    border: 1px solid #cccccc;
    background-color: #f7f7f7;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
}

.summary .current {
    border-color: #c81623;
}

.choose_color dt,
.choose_version dt,
.choose_rl dt,
.choose_buy dt,
.choose_type dt {
    line-height: 40px;
}

.choose_type {
    width: 550px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.choose_amount {
    float: left;
}

.choose_btns {
    margin-top: 20px;
}

.addcart {
    float: left;
    width: 142px;
    /*height: 46px;*/
    line-height: 46px;
    background-color: #c81523;
    text-align: center;
    font-size: 18px;
    margin-left: 10px;
    color: white;
}

.choose_amount {
    position: relative;
    height: 44px;
    width: 49px;
    border: 1px solid #cccccc;
    line-height: 44px;
}

.choose_amount input {
    height: 100%;
    width: 33px;
    text-align: center;
    border: none;

}

.add,
.reduce {
    position: absolute;
    right: 0;
    width: 15px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-left: 1px solid #cccccc;
}

.add {
    top: 0;
}

.reduce {
    bottom: 0;
    border-top: 1px solid #cccccc;
    height: 21px;
    cursor: not-allowed;
}





/*产品细节模块*/


.product_detail .aside {
    float: left;
    width: 208px;
    height: 2474px;
    border: 1px solid #ccc;
}

.tab_list ul {
    width: 250px;
}

.tab_list .list_one,
.tab_list .list_two {
    float: left;
    width: 103px;
    line-height: 33px;
    text-align: center;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.tab_list .list_one {
    width: 104px;
}

.tab_list .list_two{
    border-left: 1px solid #ccc;
}

.tab_list .list_ff {
    background-color: #fff;
    border-bottom-color: transparent;
}

.tab_con ul {
    width: 200px;
    padding: 0 10px;
}

.tab_con .item li{
    float: left;
    width: 94px;
    height: 26px;
    border-bottom: 1px solid #ccc;
}

.tab_con .con_ft {
    border: 0;
}

.tab_con .more li{
    width: 188px;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
}

.tab_con .list li {
    width: 188px;
}

.list li img {
    width: 100%;
    height: 122px;
    margin: 8px 0;
}

.list li button {
    width: 88px;
    height: 26px;
    margin: 0 48px 20px 48px;
    border: 1px solid #ccc;
    text-align: center;
}

.list .st {
    border-bottom: 1px solid #ccc;
}

.product_detail {
    margin-top: 30px;
}

.product_detail .detail {
    position: relative;
    float: right;
    width: 974px;
}
.detail_tab_hd1 {
    height: 40px;
    background-color: #ccc;
    border: 1px solid #ccc;
}

.detail_tab_hd1 a {
    display: inline-block;
    width: 86px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: #c81523;
}

.detail_tab_hd2 {
    width: 805px;

}

.hd2_nav {
    width: 100%;
    height: 42px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.hd2_nav li {
    float: left;
    padding: 14px 16px 0 16px;
}

.hd2_bd {
    position: relative;
    width: 805px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}

.con_big {
    padding-left: 18px;
    padding-top: 22px;
}

.hd2_bd li {
    float: left;
    width: 130px;
    height: 178px;
    text-align: center;
    margin-right: 24px;
}

.con_big img {
    width: 128px;
    height: 128px;

}

.btn_rt {
    position: absolute;
    top: 75px;
    right: 0;
    width: 18px;
    line-height: 48px;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #ccc;
}

.detail_tab_hd03 {
    position: absolute;
    top: 42px;
    right: 0;
    width: 167px;
    height: 202px;
    padding-top: 40px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.detail_tab_hd03 p {
    margin-left: 10px;
}

.detail_tab_hd03 .style_red {
    font-size: 20px;
    margin-bottom: 40px;
}

.detail_tab_hd03 a {
    float: left;
    width: 142px;
    line-height: 46px;
    margin-bottom: 37px;
    background-color: #c81523;
    text-align: center;
    font-size: 18px;
    margin-left: 10px;
    color: white;
}

.tabShop_display {
    display: none;
}

.detail_tab_shop {
    width: 100%;
    height: 40px;
    margin-top: 22px;
    background-color: #ccc;
}

.tab_txtUL {
    width: 100%;
}

.tab_txtUL li {
    border-bottom: 1px solid #ccc;
}

.txtUL_r,
.txtUL_l {
    float: left;
}

.detail_tab_shop li {
    margin-right: 30px;
}

.detail_tab_shop li a {
    display: inline-block;
    float: left;
    width: 100px;
    height: 100%;
    line-height: 40px;
    text-align: center;
}

.tabShop {
    color: white;
    background-color: #c81523;
}

.detail_tab_txt {
    position: relative;
    margin-top: 24px;
    margin-left: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.detail_tab_txt p {
    margin-top: 12px;
}

.more_num {
    position: absolute;
    bottom: 20px;
    right: 0;
    font-weight: bolder;
    font-size: 14px;
}

.more_num i {
    color: #ccc;
}


/*猜你喜欢*/

.like_ft {
    height: 334px;
    margin-top: 20px;
    border: 1px solid #ccc;
}

.like_hd {
    height: 40px;
    font-size: 16px;
    font-weight: bolder;
    line-height: 40px;
    padding-left: 14px;
    background-color: #dcdcdc;

    border-bottom: 1px solid #ccc;
}

.like_tab {
    width: 100%;

}

.like_tab {
    padding-left: 18px;
    padding-top: 22px;
}

.like_tab li {
    float: left;
    width: 170px;
    height: 178px;
    margin-right: 24px;
}

.like_tab img {
    width: 130px;
    height: 130px;

}
.like_tab p {
    font-size: 14px;
}

.like_tab .fs {
    font-size: 18px;
}

.like_hp {
    color: #ccc;
    font-size: 14px;
    margin-top: 10px;
}

.like_hp i {
    color: #1474AF;
}
