.fl {
    float: left;
}

.fr {
    float: right;
}


/*header_list start*/

.header_list {
    position: absolute;
    top: 25px;
    left: 186px;
    width: 80px;
    height: 35px;
}
.logo_line {
    float: left;
    width: 1px;
    height: 32px;
    margin-top: 12px;
    background-color: #B01919;
}

.logo_ms {
    width: 60px;
    height: 30px;
    margin-left: 15px;
    margin-top: 14px;
    background: url("../img/ms.png") no-repeat;
}

.shop_img {
    display: none;
}

/*header_list end*/


/*content start*/

.phone {
    height: 100%;
}

.ph_bd ul {
    overflow: hidden;
    width: 1300px;
}


.ph_bd ul li {
    position: relative;
    float: left;
    width: 288px;
    height: 458px;
    margin: 12px 16px 0 0;
    border: 1px solid transparent;

}

.ph_bd ul li:hover {
    border: 1px solid #B01919;
}

.ph_bd .con_hb {
    /*height: 286px;*/
    text-align: center;
    transition: all 1s;
}

.con_hb img {
    opacity: .8;
}

.con_hb img:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.ph_bd .con_txt {
    font-weight: normal;
    /*height: 50px;*/
    font-size: 14px;
    margin: 0 12px;
}

.ph_bd .con_mn em {
    font-size: 23px;
}

.ph_bd .con_mn {
    /*height: 30px;*/
    margin: 12px;

}

.con_mn s {
    font-size: 12px;
    color: #ccc;
}

.ph_bd .con_xl {
    height: 20px;
    font-size: 14px;
    text-align: center;
}

.con_xl a {
    line-height: normal;
}

.con_xl .xl_big {
    display: inline-block;
    width: 134px;
    height: 12px;
    border: 1px solid #ED282E;
    border-radius: 6px;
}

.con_xl .xl_small {
    width: 117px;
    height: 100%;
    background-color: #ED282E;
}

.ph_bd .con_bt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    color: white;
    background-color: #B01919;
}

.con_bt:hover {
    color: green;
}

.ph_ft {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    line-height: 60px;
    text-align: center;
}

div.zxf_pagediv{
    text-align: center;
    color: #999999;
    padding: 20px 20px 40px 0;
}
div.zxf_pagediv a{
    text-decoration: none;

}
div.zxf_pagediv span,div.zxf_pagediv a{
    display: inline-block;
    box-sizing: border-box;
}
.current{
    color: #ffffff;
    background: #B1191A;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
}
.zxfPagenum{
    color: #666;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    border-radius: 3px;
}
.nextpage{

    margin: 0 5px;
}
.nextbtn,.prebtn,span.disabled{
    color: #666;
    background: #fff;
    width: 88px;
    height: 42px;
    line-height: 42px;
    border-radius: 3px;
}
.zxfinput{
    width: 50px;
    height: 42px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
    margin: 0 12px;
    border-radius: 3px;
    color: #666;
}
.zxfokbtn{
    width: 48px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #E6E6E6;
    margin-left: 10px;
    cursor:pointer;
    border-radius: 3px;
    background: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}



/*.ft_num a {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border: 1px solid #ddddcc;
    background-color: #f7f7f7;
    padding: 0 14px;
    margin-right: 5px;
    vertical-align: middle;

}

.ft_num .current,
.ft_num .dotted {
    border: 1px solid transparent;
    cursor: pointer;
    background-color: #fff;
}

.ft_skip input {
    width: 36px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dcdcdc;
    background-color: #f7f7f7;
    transition: all .5s ease;

}

.ft_skip input:focus {
    background-color: #91D2ED;
}

.ft_skip button {
    height: 38px;
    line-height: 36px;
    border: 1px solid #ddddcc;
    background-color: #f7f7f7;
    padding: 0 14px;
    margin-right: 5px;
    font-size: 12px;
    vertical-align: middle;

}*/

/*content end*/

/*list_rt start*/

.list_rt {
    position: absolute;
    top: 300px;
    right: 50%;
    width: 70px;
    height: 138px;
    margin-right: -676px;
}

.list_rt img {
    margin-bottom: 2px;
}

/*list_rt end*/

/*nav start*/

.nav li {
    float: left;
}

.sk_list li {
    font-size: 16px;
    font-weight: bolder;
    line-height: 45px;
    color: black;
    padding: 0 27px;
}
.sk_con li {
    font-size: 14px;
    line-height: 48px;
}
.sk_con a {
    display: block;
    padding: 0 22px;
}

/*nav end*/